/*===========================================================================================
MEDIA QUERY                                           
============================================================================================*/

@media (max-width: 400px){
    /* .carousel-item{
        height: 450px;
    }
    .carousel-indicators {
        margin-bottom: 80px;
    } */
}
/*===========================================================================================
BODY                                           
============================================================================================*/
body{
    background-color: rgba(26, 26, 29, 1);
}
/*===========================================================================================
.breadcrumb-wraper < BODY                                           
============================================================================================*/
/*===========================================================================================
    .breacrumb < .breadcrum-wraper                                           
============================================================================================*/
    .breadcrumb{
        background-color: transparent;
    }
/*===========================================================================================
#app-title-wrapper                                          
============================================================================================*/
#app-title-wrapper{
    background-color: rgba(78, 78, 80, 1);
}
/*===========================================================================================
    #project-name-for-card                                       
============================================================================================*/
    #project-name-for-card{
        color:  rgba(0, 174, 239, 1);
    }
/*===========================================================================================
.app-information                                     
============================================================================================*/
/*===========================================================================================
    .carousel                                        
============================================================================================*/
/*===========================================================================================
        img < .carousel-item
============================================================================================*/
        .carousel-item > img {    
            object-fit: contain;
        }
/*===========================================================================================
        .carousel-caption < .carousel-item
============================================================================================*/
        .carousel-caption {
            position: static;
            color: black;
        }
/*===========================================================================================
        .carousel-indicators < .carousel
============================================================================================*/
            .carousel-control-next, .carousel-control-prev{
                opacity: .75;
            }
/*===========================================================================================
                li < .carousel-indicators
============================================================================================*/
                .carousel-indicators > li{
                    background-color: black;
                }
/*===========================================================================================
                .carousel-control-prev-icon & .carousel-control-next-icon 
============================================================================================*/
                .carousel-control-prev-icon, .carousel-control-next-icon{
                    filter: drop-shadow(1px 1px 3px black);
                }                
/*===========================================================================================
                .carousel-control-next-icon < carousel-control-next < .carousel-indicators
============================================================================================*/
/*===========================================================================================
    .card
============================================================================================*/
    .card{
        border:none;
    }
/*===========================================================================================
        .card-header
============================================================================================*/
        .card-header{
            background-color: rgba(78, 78, 80, 1);
            border: none;
        }
/*===========================================================================================
            h1 < .card-header
============================================================================================*/
            .card-header  h1 {
                color:  rgba(0, 174, 239, 1);
            }
/*===========================================================================================
        .card-body
============================================================================================*/
        .card-body{
            background-color: rgba(227, 221, 210, 1);
            padding: .1rem 1.25rem;
        }
/*===========================================================================================
        p < .card-body
============================================================================================*/
        .card-body > .card-p {
            color: black;
            margin-bottom: 0;
            text-indent: 15mm;
            text-align: justify;
        }
        .card-body > .h6 {
            color: black;
            margin-bottom: 0;
            text-indent: 10mm;
            text-align: justify;
        }
        .card-body > .h5 {
            color: black;
            margin-bottom: 0;
            text-indent: 5mm;
            text-align: justify;
        }
