/*===========================================================================================
MEDIA QUERY                                           
============================================================================================*/

@media (max-width: 400px){
    /* .carousel-item{
        height: 450px;
    }
    .carousel-indicators {
        margin-bottom: 80px;
    } */
}
/*===========================================================================================
BODY                                           
============================================================================================*/
body{
    background-color: rgba(10, 54, 21, 1);
}
/*===========================================================================================
.breadcrumb-wraper < BODY                                           
============================================================================================*/
/*===========================================================================================
    .breacrumb < .breadcrum-wraper                                           
============================================================================================*/
    .breadcrumb{
        background-color: transparent;
        color:  rgba(217, 211, 62, 1) ;
    }
    .breadcrumb .breadcrumb-item a {
        font-family: 'Acme', 'Times New Roman', Times, serif;
        font-size: 1.2em;
        color: lightgray!important;
        text-decoration: underline!important;
    }
    .breadcrumb .active,  .breadcrumb-item::before{
        font-family: 'Acme', 'Times New Roman', Times, serif;
        font-size: 1.2em;
        color:  rgba(217, 211, 62, 1) !important;
    }
/*===========================================================================================
#app-title-wrapper                                          
============================================================================================*/
#app-title-wrapper{
    background-color:  rgba(217, 211, 62, 1)  ;
}
/*===========================================================================================
    #project-name-for-card                                       
============================================================================================*/
    #project-name-for-card{
        font-family: 'Permanent Marker','Bradley Hand', cursive;font-weight:400;
        line-height: 1.5em;
        font-size: 2.5em;
        color: rgba(27, 120, 35, 1);
        font-weight: 500;
        text-shadow:  -0.8px -0.8px 0 #000, 0.8px -0.8px 0 #000, -0.8px 0.8px 0 #000, 0.8px .8px 0 #000;
        
    }
/*===========================================================================================
.app-information                                     
============================================================================================*/
/*===========================================================================================
    .carousel                                        
============================================================================================*/
/*===========================================================================================
        img < .carousel-item
============================================================================================*/
        .carousel-item > img {    
            object-fit: contain;
        }
/*===========================================================================================
        .carousel-caption < .carousel-item
============================================================================================*/
        .carousel-caption {
            position: static;
            color: black;
        }
/*===========================================================================================
        .carousel-indicators < .carousel
============================================================================================*/
            .carousel-control-next, .carousel-control-prev{
                opacity: .75;
            }
/*===========================================================================================
                li < .carousel-indicators
============================================================================================*/
                .carousel-indicators > li{
                    background-color: black;
                }
/*===========================================================================================
                .carousel-control-prev-icon & .carousel-control-next-icon 
============================================================================================*/
                .carousel-control-prev-icon, .carousel-control-next-icon{
                    filter: drop-shadow(1px 1px 3px black);
                }                
/*===========================================================================================
                .carousel-control-next-icon < carousel-control-next < .carousel-indicators
============================================================================================*/
/*===========================================================================================
    .card
============================================================================================*/
    .card{
        border:none;
    }
/*===========================================================================================
        .card-header
============================================================================================*/
        .card-header{
            background-color:  rgba(217, 211, 62, 1)  ;
            border: none;
        }
/*===========================================================================================
            h1 < .card-header
============================================================================================*/
            .card-header  h1 {
                font-family: 'Permanent Marker','Bradley Hand', cursive;
                font-size: 1.5em;
                color: rgba(27, 120, 35, 1);
                font-weight: 500;
                text-shadow:  -0.8px -0.8px 0 #000, 0.8px -0.8px 0 #000, -0.8px 0.8px 0 #000, 0.8px .8px 0 #000;
            }
            .card-header:hover h1, .selected {
                color: black!important;
                font-weight: 700!important;
                text-decoration: none!important;
                text-shadow: none!important;
            }
/*===========================================================================================
        .card-body
============================================================================================*/
        .card-body{
            background-color:  rgba(217, 211, 62, 1) ;
            padding: .1rem 1.25rem;
        }
/*===========================================================================================
        p < .card-body
============================================================================================*/
        .card-body > .card-p {
            color: black;
            margin-bottom: 0;
            text-indent: 15mm;
            text-align: justify;
        }
        .card-body > .h6 {
            color: black;
            margin-bottom: 0;
            text-indent: 10mm;
            text-align: justify;
        }
        .card-body > .h5 {
            color: black;
            margin-bottom: 0;
            text-indent: 5mm;
            text-align: justify;
        }
