/*===========================================================================================
MEDIA QUERIES                                            
 ===========================================================================================*/
@media (max-width: 767px) {
	.collapsibleInformation{
        padding: 1rem 0rem;
    }
}
/*===========================================================================================
 BODY                                           
============================================================================================*/
body{
    background-color: rgba(26, 26, 29, 1);
}
/*===========================================================================================
.card-code-group-wrapper -> this class holds the cards containing all projects by modality                                         
============================================================================================*/
.card-code-group-wrapper{
    position: relative;
    background-color:  rgba(78, 78, 80, 1) ;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 15px;
    margin-top: 15px;
}
/*===========================================================================================
    .card
============================================================================================*/
    .card{
        border: 0.5px solid rgba(78, 78, 80, 1);
    }
/*===========================================================================================
        .card-header                                     
============================================================================================*/
        .card-header{
            background-color:  rgba(78, 78, 80, 1) ;
            border: none;
        }
/*===========================================================================================
            .card-header-title
============================================================================================*/
            .card-header-title {
                font-size: 1.5em;
                color: rgba(0, 174, 239, 1);
                font-weight: 500;
            }
            .card-header-title:hover {
                color: rgba(0, 174, 239, 1);
                font-weight: 700;
                text-decoration: none;
            }
/*===========================================================================================
        .card-body
============================================================================================*/
        .card-body{
            background-color:  rgba(227, 221, 210, 1);;
            color: white;
        }
/*===========================================================================================
            .project-col-wrapper < .card-body
============================================================================================*/
            .project-col-wrapper{
                margin-top: 4px;
            }
/*===========================================================================================
                a < .project-col-wrapper
============================================================================================*/        
                .project-col-wrapper > a{
                    position: relative;
                    text-decoration: none;
                }
/*===========================================================================================
                    .project-btn < a
============================================================================================*/
                    .project-btn {
                        height: 150px; 
                        width:150px;
                        filter: grayscale();
                    }
                    .project-btn:hover {
                        filter: none;
                        text-decoration: none;
                    }
/*===========================================================================================
                    .project-name < a
============================================================================================*/
                    .project-btn:hover ~ .project-name{
                        font-weight: 650;
                        text-decoration: none;
                    }
                    .project-name{
                        -webkit-text-stroke: 0.1px white;
                        filter: drop-shadow(1.2px 1.2px 5px rgb(121, 121, 121));
                        font-size: 1.5em;
                        color:  rgba(26, 26, 29, 1);
                        position: relative;
                        margin-top: -45px;
                    }