/*===========================================================================================*/
/*         background color and border corder of main div navbar                             */
/*===========================================================================================*/
#navbar-wrapper {
    background-color: rgba(217, 211, 62, 1);
}
/*===========================================================================================*/
/*         font color and hover(font color / font weight) of navbrand                        */
/*===========================================================================================*/
.navbar-light .navbar-brand{
    color: black;
    font-size: 30px;
    font-family: 'Permanent Marker','Bradley Hand', cursive;font-weight:400;
}
.navbar-light .navbar-brand:hover{
    font-weight: 800;
    font-family: 'Permanent Marker','Bradley Hand', cursive;font-weight:400;
    color: black;
}
/*===========================================================================================*/
/*         border color of nav-bar toggler div                                               */
/*===========================================================================================*/
.navbar-light .navbar-toggler{
    border: rgba(217, 211, 62, 1) solid 1.8px;
}
/*===========================================================================================*/
/*         bakground color of img and hover(bakcground color) of .navbar-toggler-icon        */
/*===========================================================================================*/
.navbar-light .navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='black' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.btn-outline-secondary:hover{
    background-color: none;
}
/*===========================================================================================*/
/*         font color and hover(font color / font weight) of navbar links                    */
/*===========================================================================================*/
#navbarNav  a {
    font-family: 'Permanent Marker','Bradley Hand', cursive;font-weight:400;
    color: rgba(0, 0, 0, 0.5);
}
#navbarNav  a:hover {
    font-family: 'Permanent Marker','Bradley Hand', cursive;font-weight:400;
    font-weight: 800;
}
.active{
    color: rgba(0, 0, 0, 1)!important;
}
.nav-item > .nav-link {
    font-size: 1.2em;
}

