/*===========================================================================================*/
/*         background color and border corder of main div navbar                             */
/*===========================================================================================*/
#navbar-wrapper {
    background-color: rgba(78, 78, 80, 1);
}
/*===========================================================================================*/
/*         font color and hover(font color / font weight) of navbrand                        */
/*===========================================================================================*/
.navbar-light .navbar-brand{
    color: rgba(0, 174, 239, 1);
    font-size: 30px;
}
.navbar-light .navbar-brand:hover{
    font-weight: 550;
    color: rgba(0, 174, 239, 1);
}
/*===========================================================================================*/
/*         border color of nav-bar toggler div                                               */
/*===========================================================================================*/
.navbar-light .navbar-toggler{
    border: rgba(78, 78, 80, 1) solid 1.8px;
}
/*===========================================================================================*/
/*         bakground color of img and hover(bakcground color) of .navbar-toggler-icon        */
/*===========================================================================================*/
.navbar-light .navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 174, 239, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.btn-outline-secondary:hover{
    background-color: rgba(26, 26, 29, 1)
}
/*===========================================================================================*/
/*         font color and hover(font color / font weight) of navbar links                    */
/*===========================================================================================*/
#navbarNav  a {
    color: rgba(0, 174, 239, 1);
}
#navbarNav  a:hover {
    font-weight: 550;
}
.nav-item > .nav-link {
    font-size: 1.2em;
}

