/*===========================================================================================
MEDIA QUERIES                                            
============================================================================================*/

@media (max-width: 767px) {
	
}
/*===========================================================================================
BODY                                            
============================================================================================*/
body{
  background-color: rgba(26, 26, 29, 1);
}
/*===========================================================================================
START OF DIV CONTAINING PERSONAL INFORMATION                                            
============================================================================================*/
/*===========================================================================================
.info-wraper contains personal info only                                            
============================================================================================*/
.info-wraper{
  margin-bottom: 105px;
}
/*===========================================================================================
     #personal-info-wraper > .info-wraper                                            
===========================================================================================*/
    #personal-info-wrapper{
      margin-top: 15px;
      background-color:  rgba(78, 78, 80, 1) ;
      color:  rgba(0, 174, 239, 1);
      padding-bottom: 5px;
      border-radius: 3px;
    }
/*===========================================================================================
        #photoAndName > #personal-info-wraper
===========================================================================================*/
        #photoAndName{
          padding-top: 15px;
          margin-bottom: 30px;
          filter: drop-shadow(1px 1px 3px black);
        }
/*===========================================================================================
            img > #photoAndName
===========================================================================================*/
            #photoAndName > img {
              height: 250px;
              text-align: center;
              border: 2.5px solid black;
              margin-bottom: 15px;
            }
/*===========================================================================================
START OF DIV CONTAINING THE RESUME                                          
============================================================================================*/
/*===========================================================================================
.info-wraper contains personal info only                                            
============================================================================================*/
.resume-information-row{
  margin: 15px -15px;
}
/*===========================================================================================
    .card                                          
============================================================================================*/
    .card{
      border:none;
    }
/*===========================================================================================
        .card-header > .card                                          
============================================================================================*/
        .card-header{
          background-color: rgba(78, 78, 80, 1);
          border: none;
        }
/*===========================================================================================
            button > .card-header                                          
============================================================================================*/
            .card-header button {
              color: rgba(0, 174, 239, 1);
            }
            .card-header:hover button {
              font-weight: 650;
              color: rgba(0, 174, 239, 1);
            }
/*===========================================================================================
        .card-body > .card                                          
===========================================================================================*/
        .card-body{
          background-color: rgba(227, 221, 210, 1);
        }
/*===========================================================================================
            .text-and-list-items < .card-body                                          
===========================================================================================*/
            .text-and-list-items{
              margin-left: -25px;
            }
/*===========================================================================================
                p < .text-and-list-items  
===========================================================================================*/
                .text-and-list-items > p {
                  text-indent: 10mm;
                  text-align: justify;
                }
/*===========================================================================================
                div < .text-and-list-items  
===========================================================================================*/
                .text-and-list-items > div{
                  margin-left: -20px;
                }
/*===========================================================================================
                    li div < .text-and-list-items  
===========================================================================================*/
                    .text-and-list-items > div li{
                      text-align: justify;
                    }
