/*===========================================================================================
MEDIA QUERIES                                            
============================================================================================*/

@media (max-width: 767px) {
	
}
/*===========================================================================================
BODY                                            
============================================================================================*/
body{
  background-color: rgba(10, 54, 21, 1);
}
/*===========================================================================================
START OF DIV CONTAINING PERSONAL INFORMATION                                            
============================================================================================*/
/*===========================================================================================
.info-wraper contains personal info only                                            
============================================================================================*/
.info-wraper{
  margin-bottom: 105px;
}
/*===========================================================================================
     #personal-info-wraper > .info-wraper                                            
===========================================================================================*/
    #personal-info-wrapper{
      margin-top: 15px;
      background-color:  rgba(217, 211, 62, 1) ;
      color: rgba(0, 0, 0, 1);
      padding-bottom: 5px;
      border-radius: 3px;
    }
/*===========================================================================================
        #photoAndName > #personal-info-wraper
===========================================================================================*/
        #photoAndName{
          padding-top: 15px;
          margin-bottom: 30px;
        }
        #photoAndName img{
          filter: drop-shadow(1px 1px 3px black);
        }
        #photoAndName h1{
          color: rgba(15, 120, 43, 1);
          font-family: 'Permanent Marker','Bradley Hand', cursive;
          text-shadow:  -0.8px -0.8px 0 #000, 0.8px -0.8px 0 #000, -0.8px 0.8px 0 #000, 0.8px .8px 0 #000;
        }
        .contact-info-wrapper{
          color: rgba(15, 120, 43, 1);
          text-shadow:  -0.8px -0.8px 0 #000, 0.8px -0.8px 0 #000, -0.8px 0.8px 0 #000, 0.8px .8px 0 #000;
          font-family: 'Acme', 'Times New Roman', Times, serif;
        }
/*===========================================================================================
            img > #photoAndName
===========================================================================================*/
            #photoAndName > img {
              height: 250px;
              text-align: center;
              border: 2.5px solid black;
              margin-bottom: 15px;
            }
/*===========================================================================================
START OF DIV CONTAINING THE RESUME                                          
============================================================================================*/
/*===========================================================================================
.info-wraper contains personal info only                                            
============================================================================================*/
.resume-information-row{
  margin: 15px -15px;
}
/*===========================================================================================
    .card                                          
============================================================================================*/
    .card{
      border:none;
    }
/*===========================================================================================
        .card-header > .card                                          
============================================================================================*/
        .card-header{
          background-color:  rgba(217, 211, 62, 1) ;
          border: none;
        }
/*===========================================================================================
            button > .card-header                                          
============================================================================================*/
            .card-header button {
              color: rgba(15, 120, 43, 1);
              font-family: 'Permanent Marker','Bradley Hand', cursive;
              font-size: 1em;
              text-shadow:  -0.7px -0.7px 0 #000, 0.7px -0.7px 0 #000, -0.7px 0.7px 0 #000, 0.7px .7px 0 #000;
            }
            .card-header:hover button, .selected {
              color: rgba(0, 0, 0, 1)!important;
              text-shadow: none!important;
            }
/*===========================================================================================
        .card-body > .card                                          
===========================================================================================*/
        .card-body{
          background-color: rgba(217, 211, 62, 1) ;
        }
/*===========================================================================================
        h4 < list-group < .card-body                                          
===========================================================================================*/
            .list-group > .h4 {
              font-size: 1.3rem;
            }
/*===========================================================================================
        p < list-group < .card-body                                          
===========================================================================================*/
            .list-group > p {
              font-size: 0.85rem;
            }
/*===========================================================================================
        .row .card-body                                          
===========================================================================================*/
            .list-group .row{
              font-size: 0.85rem;
            } 
/*===========================================================================================
            .text-and-list-items < .card-body                                          
===========================================================================================*/
            .text-and-list-items{
              margin-left: -25px;
            }
/*===========================================================================================
                p < .text-and-list-items  
===========================================================================================*/
                .text-and-list-items > p {
                  text-indent: 10mm;
                  text-align: justify;
                }
/*===========================================================================================
                div < .text-and-list-items  
===========================================================================================*/
                .text-and-list-items > div{
                  margin-left: -20px;
                }
/*===========================================================================================
                    li div < .text-and-list-items  
===========================================================================================*/
                    .text-and-list-items > div li{
                      text-align: justify;
                    }
/*===========================================================================================
        img < .card-body                                          
===========================================================================================*/
        .course-icon{
          height: 100px;
          width:100px;
        }
/*===========================================================================================
        img < .card-body                                          
===========================================================================================*/
.company-icon{
  height: 150px;
  width:150px;
}