<div id="footer-wrapper" class=".container-fluid text-center">
    <div id="footer-text-wrapper">
        <span class="text-muted text-center">Developed by Diego Mieth 2020</span></br>
        <span class="text-muted text-center">Node.JS, Express, HBS, Bootstrap 4.0</span></br>
        <span class="text-muted text-center">Powered by Firebase Cloud Functions</span>
    </div>
</div>