<div id="footer-wrapper" class=".container-fluid text-center">
    <div id="footer-text-wrapper">
        <span class="text-muted text-center">Developed by Diego Mieth 2020<br>Powered by Google's Firebase Cloud Functions</span></br>
        <span class="text-muted text-center"></span>
    </div>
</div>